# Target
CONFIG_IDF_TARGET="esp32s3"

# Flash 4 MB
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Partition table personalizada con slots OTA
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

# Logs
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# HTTPS — bundle de certificados raiz (necesario para GitHub)
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
